:root,
.theme-root {
  &[theme="var(__id)"] {
    @mixin apply-color($name, $base) {
      --k-color-#{$name}: #{$base};
      --k-color-#{$name}-shade: #{mix($base, #000, 80%)};
      --k-color-#{$name}-tint: #{mix($base, #fff, 90%)};
      --k-color-#{$name}-fade: #{fade-out($base, 0.9)};
    }

    --bg0: var(__bg0);
    --bg1: var(__bg1);
    --bg2: var(__bg2);
    --bg3: var(__bg3);
    --fg0: var(__fg0);
    --fg1: var(__fg1);
    --fg2: var(__fg2);
    --fg3: var(__fg3);

    --k-color-border: var(__border);
    --k-color-divider: var(__divider);
    --k-color-disabled: var(__disabled);
    @include apply-color(primary, var(__primary));

    --k-hover-bg: var(__hover);

    --terminal-bg: var(--bg3);
    --terminal-fg: var(--fg1);
    --terminal-bg-hover: var(__terminalHover);
    --terminal-fg-hover: var(--fg1);
    --terminal-bg-selection: var(__terminalSelection);
    --terminal-separator: var(--k-color-divider);

    .monaco-editor {
      --vscode-editor-foreground: var(--fg0);

      --vscode-editor-selectionBackground: var(__selectionBackground);
      --vscode-editor-selectionForeground: var(__selectionForeground);
      --vscode-editor-inactiveSelectionBackground: var(
        __inactiveSelectionBackground
      );
      --vscode-editor-selectionHighlightBackground: var(
        __selectionHighlightBackground
      );
      --vscode-editor-lineHighlightBackground: var(__lineHighlightBackground);
      --vscode-editor-lineHighlightBorder: var(__lineHighlightBorder);

      --vscode-symbolIcon-arrayForeground: var(__arrayForeground);
      --vscode-symbolIcon-constantForeground: var(__constantForeground);
      --vscode-symbolIcon-enumeratorMemberForeground: var(
        __enumeratorMemberForeground
      );
      --vscode-symbolIcon-booleanForeground: var(__booleanForeground);
      --vscode-symbolIcon-classForeground: var(__classForeground);
      --vscode-symbolIcon-enumeratorForeground: var(__enumeratorForeground);
      --vscode-symbolIcon-fieldForeground: var(__fieldForeground);
      --vscode-symbolIcon-constructorForeground: var(__constructorForeground);
      --vscode-symbolIcon-functionForeground: var(__functionForeground);
      --vscode-symbolIcon-colorForeground: var(__colorForeground);
      --vscode-symbolIcon-eventForeground: var(__eventForeground);
      --vscode-symbolIcon-fileForeground: var(__fileForeground);
      --vscode-symbolIcon-folderForeground: var(__folderForeground);
      --vscode-symbolIcon-interfaceForeground: var(__interfaceForeground);
    }
  }
}
