:root,
.theme-root {
  &[theme="var(__id)"] {
    @mixin apply-color($name, $base) {
      --k-color-#{$name}: #{$base};
      --k-color-#{$name}-shade: #{mix($base, #000, 80%)};
      --k-color-#{$name}-tint: #{mix($base, #fff, 90%)};
      --k-color-#{$name}-fade: #{fade-out($base, 0.9)};
    }

    --bg1: var(__bg1);
    --bg2: var(__bg2);
    --bg3: var(__bg3);
    --fg1: var(__fg1);
    --fg2: var(__fg2);
    --fg3: var(__fg3);

    --k-color-border: var(__border);
    --k-color-divider: var(__divider);
    --k-color-disabled: var(__disabled);
    @include apply-color(primary, var(__primary));

    --k-hover-bg: var(__hover);

    --terminal-bg: var(--bg3);
    --terminal-fg: var(--fg1);
    --terminal-bg-hover: var(__terminalHover);
    --terminal-fg-hover: var(--fg1);
    --terminal-bg-selection: var(__terminalSelection);
    --terminal-separator: var(--k-color-divider);

    .monaco-editor {
      --vscode-editor-foreground: var(--fg0);

      --vscode-editor-selectionBackground: var(__selectionBackground);
      --vscode-editor-selectionForeground: var(__selectionForeground);
      --vscode-editor-inactiveSelectionBackground: var(
        __inactiveSelectionBackground
      );
      --vscode-editor-selectionHighlightBackground: var(
        __selectionHighlightBackground
      );
      --vscode-editor-lineHighlightBackground: var(__lineHighlightBackground);
      --vscode-editor-lineHighlightBorder: var(__lineHighlightBorder);
    }
  }
}
